@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Source+Sans+Pro&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  height: 100vh;
  background: #e0e0e0;
  display: grid;
  justify-content: center;
  align-items: center;
}
.content {
  background: cornflowerblue;
  margin: 0 auto;
  max-width: 400px;
  padding: 2rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}
.content h1 {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  margin-bottom: 2rem;
}
.content > p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.btn {
  cursor: pointer;
  width: 120px;
  border: none;
  font-size: 1.25rem;
  padding: 0.5rem;
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #929292, -20px -20px 60px #dbdbdb;
  transition: background 300ms ease;
}
.btn:hover {
  background: #bebebe;
}

#result {
  border-radius: 10px;
  padding: .5rem;
  width: 220px;
  min-height: 31px;
  background: #fff;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 0.875rem !important ;
  background: #cacaca;
  overflow: hidden;
}
#result p {
  padding: .5rem;
  padding: 0.2rem 0;
}
#result p:nth-child(even) {
  background: rgb(196, 191, 191);
}
#result h2{
  color: rgb(3, 3, 3);
  font-size: 18px;
}

input {
  max-width: 185px;
  border: none;
  padding: 0.5rem;
  border-radius: 30px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1rem;
}

.label-select {
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
}
.label-select:last-child {
  color: red;
}

select {
  padding: 5px 42px 5px 10px;
  border: none;
  font-size: 1rem;
  color: #000;
  z-index: 1;
  outline: none;
  margin: 1.5rem 0 1.5rem -20px;
}
.select-item {
  max-width: 400px;
}
